﻿<h1>Trabajos</h1>
<button class="btn btn-primary m-3" onclick="AgregarTrabajo()">Agregar Trabajo</button>

<table id="trabajos" class="table table-striped" style="width:100%"></table>

<div id="trabajosAddPartial"></div>

<script src="~/js/Trabajos/Trabajos.js"></script>

